body{
    background-color: #2B2B2B;
    width: 1500px;
    height: 900px;
}

header {
    color: red;
    font-size: 60px;
    text-align: center;
    margin-top: 90px;
}

.door1 {
    background-color: #8A5349;
    width: 155px;
    height: 280px;
    margin-top: 240px;
    margin-left: 690px;
    transition-duration: 2s;
}

.door1:hover {
    transform: rotate(360deg);
    transition-duration: 2s;    
}

.door2 {
    background-color: #43487F;
    width: 155px;
    height: 280px;
    position: absolute;
    top: 400px;
    margin-left: 300px;
    transition-duration: 5s;
    transform-origin: left;
}

.door2:hover {
    transition-duration: 3s;
    transform: rotateY(-85deg);
}

.door3 {
    background-color: #206AFF;
    width: 155px;
    height: 280px;
    position: absolute;
    top: 400px;
    margin-left: 1080px;
}

.door4 {
    background-color: blue;
    width: 40px;
    height: 50px;
    position: absolute;
    top: 90px;
}

.door5 {
    background-color: blue;
    width: 40px;
    height: 50px;
    position: absolute;
    top: 90px;
}

.door6 {
     background-color: blue;
    width: 40px;
    height: 50px;
    position: absolute;
    top: 90px;
}

.door7 {
     background-color: blue;
    width: 40px;
    height: 50px;
    position: absolute;
    top: 90px;
}

.door8 {
     background-color: blue;
    width: 40px;
    height: 50px;
    position: absolute;
    top: 90px;
}

.door9 {
    background-color: blue;
    width: 40px;
    height: 50px;
    position: absolute;
    top: 90px;
}

.window1A {
    
    
}

.window1B {

}

.window1C {
    
}

.window1D {
}

.doorknob1 {
    background-color: #CC9419;
    border-radius: 360px;
    height: 22px;
    width: 22px;
    margin-top: 130px;
    margin-left: 133px;   
}






