body {
    background: radial-gradient(#1A8882, #5EC1BC, white);
    width: 1500px;
    height: 900px;
}

header {
    color: purple;
    font-size: 70px;
    margin-top: 100px;
    margin-left: 400px;
    text-decoration: underline;
    text-decoration-color: red;
}

.door10 {
    
}

.door11 {
    
}

.door12 {
    
}

.Circle10A {
    
}

.Circle10B {
    
}

.Circle10C {
    
}

.Circle10D {
    
}

.Circle10E {
    
}

.Circle10F {
    
}

.window11A {
    
}

.window11B {
    
}

.window11C {
    
}

.window11D {
    
}

.window11E {
    
}

.window11F {
    
}

.doorknob11 {
    
}

.Circle12A {
    
}

.Circle12B {
    
}

.Circle12C {
    
}

.Circle12D {
    
}

.Circle12E {
    
}

.Circle12F {
    
}




























