body {
        background-color: #FF5618;
        color: #FF0000
}

.container {
        background-color:  58FA58; ;
       
}

header {
        background-color: #FF3800;;
       
}

h1 {
        
}

nav { 
        background-color: FA9350 ;
        
}

td { 
        color: white;
        
}

table {
       
}

a {
        color: white;
        text-decorations: none;
}

a:hover {
        color: Red;
}

.main {
        background-color: FA8013;

}

aside {         
        background-color:  FF852D;;
        
}

footer { 
        background-color: #FF4D00;
        clear: both; 
        
}
