body {
        background-color: #9A03FF;
        color: #FF0000
}

.container {
        background-color:  58FA58; ;
        
}

header {
        background-color: #662D8C;;
        
}

h1 {
        
}

nav { 
        background-color: B9A7FF;
        
}

td { 
        color: white;
       
}

table {
        
}

a {
        color: white;
        text-decorations: none;
}

a:hover {
        color: 3C005C;
}

.main {
        background-color: B952FF;
        
}

aside {         
        background-color:  B97EFF;;
        
}

footer { 
        background-color: #5F01D6;
        clear: both; 
       
}
