body {
        background-color: #FF69B4;
        color: #5C0053
}

.container {
        background-color: FF69B4; ;
       
}

header {
        background-color: #B84C82;;
        
}

h1 {
        
}

nav { 
        background-color:  B88AA1 ;
        
}

td { 
        color: white;
       
}

table {
      
}

a {
        color: D9487B;
        text-decorations: none;
}

a:hover {
        color: Blue;
}

.main {
        background-color: CD6C82;
       
}

aside {         
        background-color:  FF96B4;;
        
}

footer { 
        background-color: #A5375E;
        clear: both; 
        
}
