body {
        background-color: #FFFFFF;
        color: #FF0000
}

.container {
        background-color: FFFFFF; ;
       
}

header {
        background-color: #D8D8D8;;
        
}

h1 {
        
}

nav { 
        background-color: E6E5DD ;
        
}

td { 
        color: white;
        
}

table {
        
}

a {
        color: CD95D4;
        text-decorations: none;
}

a:hover {
        color: 235DF5;
}

.main {
        background-color: D1D1D1;
        
}

aside {         
        background-color:   C9C8C8;;
        
}

footer { 
        background-color: #D4E5DD;
        clear: both; 
        
}
