body {
        background-color: #FF0000;
        color: Black
}

.container {
        background-color: #FF0000 ;
}

header {
        background-color: #9C1717;;
}

h1 {
        font-family: sans-serif;
}

nav { 
        background-color:  FFA09D  ;
}

td { 
        color:Orange
}

table {
      
}

a {
        color: white;
        text-decorations: none;
}

a:hover {
        color: Blue ;
}

.main {
        background-color: FF2F00;
        font-family: sans-serif;
}

aside {         
        background-color:  C55252;;
}

footer { 
        background-color: #902929;
        clear: both;

}

